:root {
    --primary-red: #E50914;
    --bg-dark: #141414;
    --bg-card: #181818;
    --bg-input: #2b2b2b;
    --text-main: #ffffff;
    --text-sub: #b3b3b3;
    --border-color: #404040;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-main);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #181111;
    border-bottom: 1px solid #333;
    height: 70px;
    padding: 16px 40px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-red);
    font-size: 20px;
    font-weight: bold;
    
}
.logo_white {
    color: white;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-left: auto;
    margin-right: 32px;
}

.nav-links a {
    color: var(--text-main);
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--primary-red);
}

.btn-header-login {
    background-color: var(--primary-red);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 24px;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background: linear-gradient(180deg, rgba(35, 15, 17, 0.5) 0%, rgba(35, 15, 17, 0.8) 100%);
}

.login-card {
    background: #181111;
    border-radius: 12px;
    border: 1px solid #3A2728;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 476px;
    height: 614px;
    max-width: 480px;
    padding: 0px 40px 20px 40px;
}
.login-title-container{
    padding: 30px 0 0 0;
}
.popcorn-banner {
    width: 150%;
    background-image: url('../assets/images/login.png');
    background-size: cover;
    background-position: center 31%;
    background-repeat: no-repeat;
    position: relative;
    height: 100px;
    margin: 0 -40px 20px -40px;
}

.popcorn-banner::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 62%;
}

.login-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    font-size: 13px;
    color: var(--text-sub);
    margin-bottom: 8px;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.input-wrapper input {
    width: 100%;
    background-color: var(--bg-input);
    border: 1px solid var(--border-color);
    color: var(--text-main);
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    padding: 12px 40px 12px 16px;
}

.input-wrapper input:focus {
    border-color: var(--primary-red);
}

.input-wrapper .icon {
    position: absolute;
    right: 15px;
    color: var(--text-sub);
    font-size: 16px;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-bottom: 30px;
    margin-top: -5px;
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text-sub);
    cursor: pointer;
}

.forgot-password {
    color: var(--text-sub);
    text-decoration: none;
}

.forgot-password:hover {
    color: white;
}

.btn-submit {
    width: 100%;
    background-color: var(--primary-red);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(229, 9, 20, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 14px;
    margin-bottom: 20px;
}

.register-text {
    text-align: center;
    font-size: 13px;
    color: var(--text-sub);
}

.register-text a {
    color: var(--primary-red);
    text-decoration: none;
    font-weight: bold;
}